Checks:
    - modernize-use-nullptr
        - modernize-use-override
        - modernize-use-using
        - modernize-use-equals-default
        - modernize-use-equals-delete
        - modernize-use-bool-literals
        - modernize-use-transparent-functors
        - modernize-use-nullptr
